name: Build

on: push

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: Test
            uses: devcontainers/ci@v0.3
            with:
                push: never
                runCmd: dotnet test --max-parallel-test-modules 1
