name: Publish

on:
    release:
        types:
          - published

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: Test
            uses: devcontainers/ci@v0.3
            with:
                push: never
                runCmd: dotnet test --max-parallel-test-modules 1
    publish:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: Version
            run: echo "VERSION=${GITHUB_REF:10}+${GITHUB_SHA::8}" >> $GITHUB_ENV
          - name: Setup
            uses: actions/setup-dotnet@v4
            with:
                dotnet-version: 10
          - name: Pack
            run: dotnet pack -c Release
          - name: Publish
            run: dotnet nuget push "**/*.nupkg" -k ${{ secrets.NUGET_KEY }} -n -s https://api.nuget.org/v3/index.json --skip-duplicate